.first{
  background-color: rgba(136,167,174, 0.7);

}
.goal{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30%;
}
.text{

}

img{
   max-height: 405px;
}
button:hover {
  background-color: rgba(61,117,169,0.7);
}
.second{
  background-color: rgba(61,117,169,0.7);
}

.third{
  background-color: rgba(158,136,174, 0.7);
}

.Hikecontainer{
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hikerInfo{
  margin: 5px;
}
.BannerText {
  color: #000;
  font-size: 6rem;
  user-select: none;
  padding-top: 5px;
}

.img-hover-zoom{
  transition: transform .5s ease;
}
.img-hover-zoom:hover {
  transform: scale(1.1);
}

.outercontainer{

}
