.navbar-brand {
  height: 40px;
}

.navbar-brand img {
  height: 100%;
}
.nav-link{

  padding: 10px 15px 10px 15px;
}


ul{
  list-style-type: none;
}

li{
  display: inline;
  float:left;
  font-size: 1.5em
}
