body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:
  linear-gradient(
  rgba(237,242,255, 0.8),
  rgba(237,242,255, 0.8)
),
  url("assets/imgs/background-mountains.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
